body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 1000px;
}

.canvas-container {
    width: 100%;
    height: 500px;
    overflow: scroll;
}

#canvas {
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background-color: #ffffff;
    transform-origin: top left;

}

.cooldown {
    font-weight: bold;
}

#chat-box {
    height: 300px;
    width: 300px;
    overflow-y: scroll;
    margin-left: 10px;
}

#chat-container {
    position: absolute;
    background-color: white;
    z-index: 999;
}

.chat-message {
    overflow-wrap: anywhere;
}

.center {
    text-align: center;
}

.chat-input input {
    width: 100%;
}

#color-palette {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0;
}

.color {
    width: 30px;
    height: 30px;
    border: 1px solid #cccccc;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.color:hover {
    border: 2px solid #000000;
}

.color.selected {
    border: 3px solid #000000;
}